@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 150 6% 94%;
    --card-foreground: 0 0% 0%;

    --popover: 150 6% 94%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 260 72% 54%;
    --accent-foreground: 0 0% 100%;

    --accent-alternate: 80 93% 77%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 29%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 0%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --brand: 259 61% 19%;
    --brand3: 260 72% 54%;

    --typo-secondary: 0 0% 60%;
    --accent-carbon: 223 16% 22%;
    --special-dark-gray: 223 14% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply text-pretty flex flex-col;
  }
  html {
    @apply scroll-smooth;
  }
  html,
  body {
    @apply min-h-screen;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl xl:text-5xl;
  }
  h2 {
    @apply text-3xl xl:text-4xl;
  }
  h3 {
    @apply text-2xl xl:text-3xl;
  }
  p {
    @apply text-base xl:text-xl;
  }
  header,
  footer,
  section {
    @apply p-6 md:px-20 md:py-10;
  }
  header,
  footer {
    @apply bg-brand;
  }
  footer {
    @apply py-20;
    @apply text-secondary-foreground;
  }

  section {
    @apply scroll-mt-20;
    @apply section-padding;

    & > * {
      @apply main-block;
    }
  }

  main,
  .ant-app {
    @apply flex-1;
  }

  main *:not(div) {
    @apply transition-opacity duration-1000 ease-in-out;
  }
}

@layer components {
  .section-padding {
    @apply py-10 p-6 md:px-20;
  }

  .section-home-padding {
    @apply pt-10 md:pt-20 pb-20;
  }

  .wrapper {
    @apply w-full max-w-[1400px] mx-auto;
  }

  .main-block {
    @apply flex flex-col gap-10;
  }

  .card {
    @apply border border-black rounded-2.75xl;
    @apply px-10 py-6;

    @apply hover:ring-2 ring-accent transition-shadow duration-300 ease-in-out;

    &:any-link {
      @apply flex items-center font-bold text-xl md:text-2xl;
    }
  }

  .footer-link {
    @apply inline-flex items-center gap-3;
    @apply md:opacity-60 md:hover:opacity-100 transition-opacity duration-300;

    svg {
      @apply w-4 h-4 flex-shrink-0;
    }
  }

  .link-hover-underline {
    @apply relative inline-block;

    &::after {
      @apply content-[""] absolute -bottom-2 left-0 w-0 h-[2px] bg-accent transition-width duration-300 ease-in-out;
    }

    &:hover::after {
      @apply w-full;
    }
  }
}

@layer utilities {
  .accent-gradient {
    @apply bg-gradient-to-r from-[#6C35DE] to-[#B59AEF];
    @apply text-secondary-foreground;
  }

  .position-normal {
    position: initial;
  }

  .dev-outline {
    @apply outline outline-1 outline-[red];
  }
}
